<%= div_for @category, class: "row" do %>
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<%= image_tag @category.image.url(:medium) %>
		</div>

		<div class="col-md-2">
			<%= @category.description %>
		</div>

		<div class="col-md-3">
			<div class="btn-group">
				<%= link_to "Editar", edit_category_path(@category), class: "btn btn-primary btn-sm" %>
				<%= link_to "Excluir", @category, method: :delete, data: { confirm: "Deseja excluir #{@category.description}?" }, class: "btn btn-danger btn-sm" %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<h4>Palavras</h4>
			<%= render @category.words %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<%= render 'words/form' %>
		</div>
	</div>
<% end %>
